body {
  margin: 0;
  font-family: Arial;
  background: #0b0b0b;
  color: white;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #111;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #4fd1ff;
}

.logo-img {
  width: 30px;
}

/* NAV LINKS */
nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.hero-text {
  background: rgba(0,0,0,0.6);
  padding: 20px 30px;
  border-radius: 10px;
}

/* CARDS */
.links {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 60px 20px;
  flex-wrap: wrap;
}

.card {
  background: #1a1a1a;
  padding: 30px;
  width: 260px;
  border-radius: 12px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.card a {
  display: inline-block;
  margin-top: 10px;
  color: #4fd1ff;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #111;
}
